<%- include('../partials/header') %>

<% flights.forEach(flight => { %>
    <div>
        <p>Airline: <%= flight.airline %></p>
        <p>Airport: <%= flight.airport %></p>
        <p>Flight No.: <%= flight.flightNo %></p>
        <p>Departs: <%= flight.departs.toLocaleString() %></p>
    </div>
<% }); %>

<%- include('../partials/footer') %>